@keyframes experience-title {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-120%);
  }
}

.ExperienceTitle {
  display: inline-block;
  animation: experience-title 3s infinite linear;
}
